USE [master]
GO
/****** Object:  Database [EDUSOFT]    Script Date: 15/05/2025 02:41:21 ******/
CREATE DATABASE [EDUSOFT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EDUSOFT', FILENAME = N'/var/opt/mssql/data/EDUSOFT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EDUSOFT_log', FILENAME = N'/var/opt/mssql/data/EDUSOFT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EDUSOFT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EDUSOFT]
GO
/****** Object:  Table [dbo].[AsistenciasEstudiantes]    Script Date: 15/05/2025 02:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciasEstudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaseId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Asistio] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clases]    Script Date: 15/05/2025 02:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Profesor] [nvarchar](100) NOT NULL,
	[CodigoClase] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntregasTareasEstudiantes]    Script Date: 15/05/2025 02:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntregasTareasEstudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TareaId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Comentario] [nvarchar](max) NULL,
	[Link] [nvarchar](500) NULL,
	[ArchivoNombre] [nvarchar](255) NULL,
	[ArchivoContenido] [varbinary](max) NULL,
	[FechaEntrega] [datetime] NOT NULL,
	[Retroalimentacion] [nvarchar](max) NULL,
	[Nota] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorariosClases]    Script Date: 15/05/2025 02:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorariosClases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaseId] [int] NOT NULL,
	[Aula] [nvarchar](100) NOT NULL,
	[Profesor] [nvarchar](255) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 15/05/2025 02:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[FechaEntrega] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ClaseId] [int] NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Link] [nvarchar](500) NULL,
	[ArchivoNombre] [nvarchar](255) NULL,
	[ArchivoContenido] [varbinary](max) NULL,
	[EsExamen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioClases]    Script Date: 15/05/2025 02:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioClases](
	[UsuarioId] [int] NOT NULL,
	[ClaseId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[ClaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 15/05/2025 02:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Rol] [int] NOT NULL,
	[SesionToken] [nvarchar](255) NULL,
	[SesionActiva] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clases] ADD  DEFAULT ('XXXXXX') FOR [CodigoClase]
GO
ALTER TABLE [dbo].[EntregasTareasEstudiantes] ADD  DEFAULT (getdate()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[Tareas] ADD  DEFAULT ('') FOR [Titulo]
GO
ALTER TABLE [dbo].[Tareas] ADD  DEFAULT ((0)) FOR [EsExamen]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [SesionActiva]
GO
ALTER TABLE [dbo].[AsistenciasEstudiantes]  WITH CHECK ADD FOREIGN KEY([ClaseId])
REFERENCES [dbo].[Clases] ([Id])
GO
ALTER TABLE [dbo].[AsistenciasEstudiantes]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[EntregasTareasEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Entrega_Tarea] FOREIGN KEY([TareaId])
REFERENCES [dbo].[Tareas] ([Id])
GO
ALTER TABLE [dbo].[EntregasTareasEstudiantes] CHECK CONSTRAINT [FK_Entrega_Tarea]
GO
ALTER TABLE [dbo].[EntregasTareasEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_Entrega_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[EntregasTareasEstudiantes] CHECK CONSTRAINT [FK_Entrega_Usuario]
GO
ALTER TABLE [dbo].[HorariosClases]  WITH CHECK ADD  CONSTRAINT [FK_HorariosClases_Clase] FOREIGN KEY([ClaseId])
REFERENCES [dbo].[Clases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorariosClases] CHECK CONSTRAINT [FK_HorariosClases_Clase]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Clase] FOREIGN KEY([ClaseId])
REFERENCES [dbo].[Clases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Clase]
GO
ALTER TABLE [dbo].[UsuarioClases]  WITH CHECK ADD FOREIGN KEY([ClaseId])
REFERENCES [dbo].[Clases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioClases]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
